 ---

import Layout from '../layouts/Layout.astro';
---

<Layout>

<div class="relative ">
    <img class="bg-cover w-screen" src="/assets/images/hero.png" alt="Heros Section">
</div>
<div  class="container md:px-20 px-4 py-4">
    <div class="flex justify-between">
        <p class="md:text-3xl text-xl text-black font-semibold">Best Sellers</p>
        <p class="text-gray-600 font-medium pt-4">Veiw All</p>
    </div>
    <img class=" bg-cover w-screen py-4" src="/assets/images/Best seller cards.png" alt="">
</div>
<div class="container md:px-20 px-4  py-3">
    <div class="felx justify-between">
        <p class="md:text-3xl text-xl py-3  text-black font-semibold">Collection</p>
    </div>
    <div class="flex justify-center">
    <img class="bg-cover w-screen" src="/assets/images/collection pics.png" alt="" srcset="">
    </div>

</div>
<div class="container md:px-20 px-4  py-3">
    <div class="felx justify-between">
        <p class="md:text-3xl text-xl py-3  text-black font-semibold">Modiweek</p>
    </div>
    <div class="flex justify-center">
    <img class="bg-cover w-screen" src="/assets/images/modiweek frame.png" alt="" srcset="">
    </div>

</div>
<div class="container md:px-20 px-4  py-13">
    <div class="felx justify-between">
        <p class="md:text-3xl text-xl py-3  text-black font-semibold">Modiweek</p>
    </div>
    <div class="flex justify-center">
    <img class="bg-cover w-screen" src="/assets/images/Sustainability.png" alt="" srcset="">
    </div>

</div>
</Layout>
