---

---

<div class="bg-gray-800 bottom-0">
  <div class="flex md:flex-row flex-col md:justify-between">
   
    <div class="w-2/5 md:me-14 py-4 px-2 ">
      <div class=" py-4 ">
        <p class="text-white font-semibold md:whitespace-normal whitespace-nowrap">Join our club, get 15% off for your Birthday</p>
      </div>

      <div class="border-amber-50 border flex">
        <input
          class="py-2 md:px-14 px-2  w-auto text-white"
          type="text"
          placeholder="Email Your Address"
          name=""
          id=""
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-move-right md:mt-2 me-3 stroke-amber-50 "
        >
          <path d="M18 8L22 12L18 16"></path>
          <path d="M2 12H22"></path>
        </svg>
      </div>
    </div>
    <div class="w-3/5 ">
      <p class="text-white py-4 md:text-start text-center md:pl-0 ml-[90px] md:whitespace-normal whitespace-nowrap "> <a>About About Modimal</a></p>
      <p class="text-white py-2  md:text-start text-center md:pl-0 ml-[90px] md:whitespace-normal whitespace-nowrap "> <a href="">Collection</a></p>
      <p class="text-white py-2 md:text-start text-center md:pl-0 ml-[90px] md:whitespace-normal whitespace-nowrap "> <a href=""> Sustainability</a></p>
      <p class="text-white py-2 md:text-start text-center md:pl-0 ml-[90px] md:whitespace-normal whitespace-nowrap "> <a href=""> Privacy Policy</a></p>
      <p class="text-white py-2 md:text-start text-center md:pl-0 ml-[90px] md:whitespace-normal whitespace-nowrap "> <a href=""> Support System</a></p>
      <p class="text-white py-2 md:text-start text-center md:pl-0 ml-[90px] md:whitespace-normal whitespace-nowrap "> <a href=""> Terms & Condition</a></p>
      <p class="text-white py-2 md:text-start text-center md:pl-0 ml-[90px] md:whitespace-normal whitespace-nowrap "> <a href="">Copyright Notice</a></p>
    </div>
    <div class="w-4/5">
      <p class="text-white py-4 md:text-start text-center  md:whitespace-normal whitespace-nowrap "> <a href=" "> Help & Support</a></p>
      <p class="text-white py-2  md:text-start text-center md:whitespace-normal whitespace-nowrap "> <a href=" "> Orders & Shipping</a></p>
      <p class="text-white py-2  md:text-start text-center md:whitespace-normal whitespace-nowrap "> <a href=" "> Returns & Refunds</a></p>
      <p class="text-white py-2  md:text-start text-center  md:whitespace-normal whitespace-nowrap "> <a href=" ">FAQs</a></p>
      <p class="text-white py-2  md:text-start text-center md:whitespace-normal whitespace-nowrap "> <a href=" "> Contact Us</a></p>
    </div>
    <div class="w-5/5 md:pl-0 ">
      <p class="text-white py-4  md:text-start text-center  md:whitespace-normal whitespace-nowrap "> <a href=""> Join Up</a></p>
      <p class="text-white py-2  md:text-start text-center md:whitespace-normal whitespace-nowrap "> <a href=""> Modimal Club</a></p>
      <p class="text-white py-2  md:text-start text-center md:whitespace-normal whitespace-nowrap "> <a href=""> Careers</a></p>
      <p class="text-white py-2  md:text-start text-center  md:whitespace-normal whitespace-nowrap "> <a href=""> Visit Us</a></p>
    </div>
  </div>
  <div class="flex justify-between md:px-14">
    <div class="flex  gap-9">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-instagram stroke-white"
        ><rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect><path
          d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line
          x1="17.5"
          x2="17.51"
          y1="6.5"
          y2="6.5"></line></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-facebook  stroke-white"
        ><path
          d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-figma  stroke-white"
        ><path d="M5 5.5A3.5 3.5 0 0 1 8.5 2H12v7H8.5A3.5 3.5 0 0 1 5 5.5z"
        ></path><path d="M12 2h3.5a3.5 3.5 0 1 1 0 7H12V2z"></path><path
          d="M12 12.5a3.5 3.5 0 1 1 7 0 3.5 3.5 0 1 1-7 0z"></path><path
          d="M5 19.5A3.5 3.5 0 0 1 8.5 16H12v3.5a3.5 3.5 0 1 1-7 0z"
        ></path><path
          d="M5 12.5A3.5 3.5 0 0 1 8.5 9H12v7H8.5A3.5 3.5 0 0 1 5 12.5z"
        ></path></svg
      >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-linkedin  stroke-white"
        ><path
          d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
        ></path><rect width="4" height="12" x="2" y="9"></rect><circle
          cx="4"
          cy="4"
          r="2"></circle></svg
      >
    </div>

    <div class="">
      <svg
      class=" stroke-white"
        width="56"
        height="48"
        viewBox="0 0 56 48"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="0.5" y="0.5" width="55" height="47" fill="#5A6D57"></rect>
        <rect x="0.5" y="0.5" width="55" height="47" stroke="white"></rect>
        <path
          d="M36 14H20.01C18.91 14 18.01 14.9 18.01 16L18 34L22 30H36C37.1 30 38 29.1 38 28V16C38 14.9 37.1 14 36 14ZM36 28H21.17L20 29.17V16H36V28ZM28 22C29.1 22 30 21.1 30 20C30 18.9 29.1 18 28 18C26.9 18 26 18.9 26 20C26 21.1 26.9 22 28 22ZM32 25.43C32 24.62 31.52 23.9 30.78 23.58C29.93 23.21 28.99 23 28 23C27.01 23 26.07 23.21 25.22 23.58C24.48 23.9 24 24.62 24 25.43V26H32V25.43Z"
          fill="white"></path>
      </svg>
    </div>
  </div>
  <div>
    <p  class="py-2 text-white"> © 2023 modimal. All Rights Reserved.</p>
  </div>
</div>
